@charset "UTF-8";
/* @import '0_base/reset'; */
.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

/* Main menu
------------------------------------------------------------*/
.c-gnavi {
  min-width: 75px;
  max-width: 75px;
  height: 100vh;
  min-height: 570px;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  z-index: 9;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}

.c-gnavi .c-gnavi__box {
  text-align: center;
}

.c-gnavi .c-gnavi__box .logo {
  line-height: 70px;
  display: block;
}

.c-gnavi .c-gnavi__box .logo img {
  height: 30px;
}

.c-gnavi__nav .c-gnavi__item {
  margin: 7px 0;
}

.c-gnavi__nav .c-gnavi__item .nav-link {
  text-align: center;
  font-size: 24px;
  color: #878a92;
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0;
}

.c-gnavi__nav .c-gnavi__item .nav-link.active {
  background-color: #f7f7ff;
  color: #7269ef;
}

.c-gnavi__nav .c-gnavi__user {
  height: 36px;
  width: 36px;
  background-color: #f0eff5;
  padding: 3px;
  position: relative;
  display: inline-block;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  padding: 20px 20px;
  background: #051a2b;
  color: #fff;
  text-align: center;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "Public Sans", sans-serif;
  font-size: .9375rem;
  min-width: 1000px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #495057;
  background-color: #f7f7ff;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  padding: 10px 50px;
  font-size: 1.6rem;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 1;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  color: #495057;
  font-family: "Public Sans",sans-serif;
  font-weight: 600;
  font-size: 1.3125rem;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-logo {
  opacity: 1;
}

.c-logo:hover {
  opacity: 1;
}

.c-logo img {
  height: 30px;
}

.c-logo img:hover {
  opacity: 1;
}

.card {
  border: 0 solid #f5f7fb;
  margin-bottom: 24px;
}

.c-fs13 {
  font-size: 13px !important;
}

.c-fs16 {
  font-size: 16px !important;
}

.c-fs18 {
  font-size: 18px !important;
}

.c-fw500 {
  font-weight: 500;
}

.border-light {
  border-color: #e6ebf5 !important;
}

.c-label {
  font-weight: 500;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 12px;
  padding-left: 12px;
}

.input-group-lg > .custom-select, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
  font-size: .875rem;
}

.input-group-text {
  background-color: #f5f7fb;
}

.input-group-lg > .custom-select, .input-group-lg > .form-control:not(textarea) {
  height: calc(1.5em + 1rem + 6px);
}

.bg-soft-light {
  background-color: rgba(230, 235, 245, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #7269ef;
  background-color: #7269ef;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
  border-color: #c2cee6;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label:before {
  color: #fff;
  background-color: rgba(114, 105, 239, 0.1);
  border-color: rgba(114, 105, 239, 0.1);
}

.btn-primary {
  color: #fff;
  background-color: #7269ef;
  border-color: #7269ef;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #5246eb;
  border-color: #473bea;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #473bea;
  border-color: #3c2fe9;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(135, 128, 241, 0.5);
}

.btn {
  padding: .47rem .75rem;
  font-size: .9375rem;
}

.custom-control-input {
  height: 1.20313rem;
}

.custom-control {
  min-height: 1.40625rem;
}

.custom-control-label::before {
  top: .20313rem;
}

.text-primary {
  color: #7269ef !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #3124e8 !important;
}

a:hover {
  text-decoration: none;
}

.text-danger {
  color: #ef476f !important;
}

.form-control:focus {
  box-shadow: none;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23EF476F' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23EF476F' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
  background-position: right calc(.375em + .235rem) center;
  background-size: calc(.75em + .47rem) calc(.75em + .47rem);
}

.is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip, .was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip {
  display: block;
}

.h4, h4 {
  font-size: 1.3125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #495057;
  font-family: "Public Sans",sans-serif;
  font-weight: 600;
}

.rounded-lg {
  border-radius: 0.4rem !important;
}

.bg-light {
  background-color: #e6ebf5 !important;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group-lg > .custom-select, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
  border-radius: .4rem;
}

.c-search__box--chat .form-control {
  border: 0;
}

.text-muted {
  color: #7a7f9a !important;
}

.btn-link {
  color: #7269ef;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.15rem rgba(114, 105, 239, 0.25);
}

.btn-link:hover {
  color: #3124e8;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
  line-height: 2;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-about {
  line-height: 2;
}

/*------------------------------------------------------------
Css of chat page
------------------------------------------------------------*/
.p-chat1 {
  height: 100vh;
  background-color: #f5f7fb;
}

@media only screen and (min-width: 992px) {
  .p-chat1__leftsidebar {
    min-width: 380px;
    max-width: 380px;
  }
}

.p-chat1__leftsidebar .c-user1 {
  background-color: #e6ebf5;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 16px;
  display: block;
}

.p-chat1__leftsidebar .c-user1 .c-user1__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.2rem;
  width: 2.2rem;
}

.p-chat1__leftsidebar .c-user1 .c-user1__img.online .c-user1__status {
  background-color: #06d6a0;
}

.p-chat1__leftsidebar .c-user1__title {
  -webkit-box-align: center;
  align-items: center;
  background-color: #7269ef;
  color: #fff;
  display: -webkit-box;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(114, 105, 239, 0.25) !important;
}

.p-chat1__leftsidebar .c-user1__status {
  width: 10px;
  height: 10px;
  background-color: #adb5bd;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/

/*# sourceMappingURL=style.css.map */
